
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.app {
  margin: 0 auto;
  padding: 20px;
}

h1 {
  font-weight: 700;
  vertical-align: middle;
  padding-top: 35px;
  padding-left: 15px;
}

.search-bar {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding-left: 15px;
}

.search-bar select,
.search-bar input[type='number'],
.search-bar button {
  z-index: 2;
  margin-right: 10px;
  margin-top: 10px;
  width: 300px;
height: 28px; 
border: 0px;
padding-left: 2px;
scrollbar-width: thin;
}

.search-bar select {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.image-list {
  left: 30px;
  width: 97%;
  height: 80%;
  position: absolute;
  top: 150px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
  grid-template-rows: repeat(auto-fit, minmax(300px, 300px));
  gap: 6px;
  row-gap: 6px;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: thin ;
  scrollbar-color: rgb(43, 42, 42) rgb(148, 147, 147);
  scroll-padding-left: 10px;
  scrollbar-gutter: revert;
  margin: auto;
}

.image-list::-webkit-scrollbar {
  display: none;
}

.image-card {
  display: flexbox;
  background-color: #2b2b2b8a;
  border: 1px solid #000000;
  border-radius: 4px;
  padding: 5px;
  height: 300px;
  width: 300px;
}



.dogimage {
  display: flex;
  vertical-align: middle;
  margin: auto;
  margin-top: 5px;
  width: 275px;
  height: 275px;
  border-radius: 4px;
}
